.edit-form {
  max-width: 800px;
  margin: 15px auto;
  border: 1px solid $brand-grey;
  border-radius: 20px;
  padding: 20px;
  h2 {
    text-align: center;
  }
  .form-footer {
    text-align: center
  }
}