$brand-grey: #454759;
$brand-green: #4fd08f;
$brand-red: #cf4e4e;
$brand-white: #f6f6fb;
$brand-font-color-body: #7f8290;
$brand-font-color-title: #e1e3e5;

@import "sass/ad";
@import "sass/home";
@import "sass/editAd";